@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

* {
	font-family: "Montserrat", sans-serif;
}
$spinner-border: 2.5px;
.lit-spinner {
	width: 30px;
	height: 30px;
	border: $spinner-border solid transparent;
	border-top: $spinner-border solid #f3f3f3;
	border-bottom: $spinner-border solid #f3f3f3;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}
.lit-spinner-black {
	@extend .lit-spinner;
	border-top: $spinner-border solid #000;
	border-bottom: $spinner-border solid #000;
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
