.sl-form {
	background-color: white;
	box-shadow: 5px 5px 10px rgba(20, 20, 20, 0.2);
	padding: 30px;
	min-width: 100px;
	margin: 45px auto;
	border-radius: 10px;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	font-family: "Montserrat", sans-serif;

	.ln-submit {
		padding: 8px;
		outline: none !important;
		margin-left: 225px;
		margin-top: 10px;
	}
	.blue-grad {
		background: linear-gradient(
			83deg,
			rgba(43, 98, 255, 1),
			rgba(0, 181, 255, 1)
		) !important;
	}
	.link-unstyled {
		outline: none;
		text-decoration: none;
		color: #929292;
	}
	/*SIGN UP/ LOG IN STYLES*/

	*,
	:before,
	:after,
	span.bar,
	span.bar:before,
	span.bar:after {
		box-sizing: border-box;
	}

	.group {
		position: relative;
		margin: 45px 50px;
	}
	&.signup {
		.group {
			margin: 30px 50px;
		}
	}

	input {
		background: none;
		color: #727272;
		font-size: 18px;
		padding: 10px 10px 10px 5px;
		display: block;
		width: 320px;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid #646464;

		&:focus {
			outline: none;
		}
		&:focus ~ label,
		&:valid ~ label {
			top: -14px;
			font-size: 12px;
			color: #2196f3;
		}
		&:focus ~ .bar:before {
			width: 100%;
		}
	}

	label {
		color: #727272;
		font-size: 16px;
		font-weight: normal;
		position: absolute;
		pointer-events: none;
		left: 5px;
		top: 10px;
		-webkit-transition: 300ms ease all;
		transition: 300ms ease all;
	}

	.bar {
		position: relative;
		display: block;
		width: 320px;

		&:before {
			content: "";
			height: 2px;
			width: 0;

			bottom: 0px;
			position: absolute;
			background: #2196f3;
			-webkit-transition: 300ms ease all;
			transition: 300ms ease all;
			left: 0%;
		}
	}

	.btn {
		outline: none !important;
		background-image: linear-gradient(135deg, #329cff, #0059ff);
		border: none;
		padding: 8px 20px;
		border-radius: 5px;
		color: white;
		box-shadow: 4px 4px 5px rgba(20, 20, 20, 0.2);
		transition: 200ms;
		letter-spacing: 0.08em;
		&:hover {
			filter: brightness(1.1);
			box-shadow: 4px 4px 5px rgba(20, 20, 20, 0.25);
		}
	}
	.box {
		text-align: center;
	}
}

#sl-form {
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: -60px 0px;
}
