$border: solid 1px rgb(235, 235, 235);

#home-container {
	height: 90vh;
	padding: 0px 0px !important;
	margin: 0px 0px !important;
	margin-top: -20px !important;
	overflow-y: hidden;

	& > .row {
		border-radius: 15px;
		margin: 20px auto;
		height: 100%;
		width: 100vw;
	}

	.row.contact {
		padding: 5px 15px;
		padding-top: 10px;
		border-bottom: $border;
		transition: 200ms;
		&:hover,
		&:focus {
			cursor: pointer;
			background: #ffaca3;
		}
	}
	#contacts {
		height: calc(100vh - 56px);
		overflow: hidden;
		box-shadow: 5px 0px 15px rgba(51, 51, 51, 0.1);
		&:hover {
			overflow: auto;
		}
	}
	.icon {
		cursor: pointer;
		&:hover {
			opacity: 0.8;
		}
	}
	.contacts-label {
		border-bottom: $border;
	}
	#contacts-header-wrapper {
		background: linear-gradient(to left, #ff2f2f, #ff533c);
		color: white;
	}
	#convo {
		padding: 0px 0px !important;
		#convo-username {
			text-decoration: none;
			color: white;
			margin-bottom: 0px;
			margin-top: 20px;

			&:hover {
				color: #e7e7e7;
			}
		}
		#chat-box {
			height: calc(100vh - 190px);
			overflow: auto;
			padding: 0px 10px 30px 10px;
		}
		#convo-header {
			padding: 16px 15px;
			color: white;
			background: linear-gradient(to right, #ff2f2f, #ff3a20);
		}
	}
}
.form-control:focus {
	border-color: #ff4322;
	// border: none;
	box-shadow: 0 0 0 0.15rem rgba(255, 55, 20, 0.25);
}

.contact-request {
	padding: 20px 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.1);
	margin: 20px 0px;
	.btn-resolve {
		padding: 7px 13px;
		border: none;
		border-radius: 5px;
		outline: none;
		color: white;
		transition: 200ms;
		margin: 0px 5px;
		margin-top: -5px;
		box-shadow: 3px 3px 5px rgba(43, 43, 43, 0.15);
		&.accept {
			background-color: rgb(40, 221, 40);
			&:hover,
			&:focus {
				background-color: rgb(36, 202, 36);
			}
			&:active {
				background-color: rgb(33, 194, 33);
			}
		}
		&.decline {
			background-color: rgb(224, 44, 38);
			&:hover,
			&:focus {
				background-color: rgb(206, 39, 34);
			}
			&:active {
				background-color: rgb(197, 40, 34);
			}
		}
	}
}
img.profile-img {
	border-radius: 50%;
	object-fit: cover;
}
// TODO work on dark mode
#input-box {
	width: 100%;
	position: fixed;
	bottom: 0px;
	input {
		padding: 20px;
		outline: none;
		border: none;
		box-shadow: 0 0 5px rgba(51, 51, 51, 0.1);
		width: calc(75% - 100px);
	}
	#input-submit {
		width: 100px;
		height: 65px;
		border: none;
		position: absolute;
		bottom: 0px !important;
		background-image: linear-gradient(135deg, #ff3535, #ff613a) !important;
		color: white;
		font-size: 20px;
		transition: 200ms;
		border-radius: 0%;
		outline: none;
		&:hover {
			opacity: 0.9;
		}
		&:active {
			opacity: 0.8;
		}
	}
}
@media screen and (max-width: 992px) {
	#input-box {
		input {
			width: calc(100% - 100px);
		}
	}
	.navbar-btn-outline {
		margin: 10px 0px !important;
	}

	#chat-box {
		height: calc(100vh - 200px) !important;
	}

	#convo-header {
		text-align: center;
	}
}

.chat {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 5px 10px;

	.chat-body {
		border-radius: 5px;
		padding: 7px 13px;
		display: inline-block;
		max-width: 100%;
		word-wrap: break-word;
	}
	.chat-template {
		display: flex;
		flex-direction: column;
	}
	.chat-body-before {
		content: "";
		position: absolute;
		z-index: 0;
		bottom: 0;
		height: 10px;
		width: 17px;
	}
	.chat-body-after {
		content: "";
		position: absolute;
		z-index: 1;
		background: white;
		bottom: 0;
		width: 10px;
		height: 20px;
	}

	.contact-chat {
		@extend .chat-template;
		align-items: flex-start;
		.chat-body {
			background-color: #eee;
			position: relative;
			&:before {
				@extend .chat-body-before;
				left: -5px;
				background: #eee;
				border-bottom-right-radius: 15px;
			}
			&:after {
				@extend .chat-body-after;
				left: -10px;
				border-bottom-right-radius: 10px;
			}
		}
	}
	$user-chat-grad: linear-gradient(to top, #ff0c0c, #ff6b08);
	.user-chat {
		@extend .chat-template;
		align-items: flex-end;

		.chat-body {
			color: white;
			background: $user-chat-grad;
			background-attachment: fixed;
			position: relative;
			&:before {
				@extend .chat-body-before;
				right: -5px;
				background: $user-chat-grad;
				background-attachment: fixed;
			}
			&:after {
				@extend .chat-body-after;
				right: -10px;
				border-bottom-left-radius: 10px;
			}
		}
	}
}
