#landing-page {
	#landing-container {
		height: 95vh;
		// background: linear-gradient(135deg, #ff552b, #ff4719);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		color: white;
		// text-align: center;
		padding-top: 50px;
		h1 {
			font-size: 80px;
			padding-top: 25vh;
		}
		p.lead {
			font-size: 25px;
		}
		img {
			float: right;
			width: 22vw !important;
		}
	}
	#landing-features {
		background-color: white !important;
		color: black;
		text-align: center;
		padding-top: 100px;
		.col-lg {
			margin: 20px 0px;
		}
	}
	#landing-footer {
		text-align: center;
		background: linear-gradient(135deg, #ff5f1f, #ff4c45);
		color: white;
		padding: 20px;
	}
}

@media screen and (max-width: 992px) {
	#landing-page {
		#landing-container {
			text-align: center;
			h1 {
				font-size: 60px;
			}

			img {
				float: none;
				position: absolute;
				left: calc(50% - 150px);
				top: 500px;
				width: 300px !important;
			}
		}
	}
	#landing-features .container {
		padding-top: 200px;
	}
}
